body {
    margin: 0px;
}
p {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#heading {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #CCC;
}

#map {    
    position: relative;
    height: 600px;
    width: 1000px;    
}

.leaflet-tooltip {
    font-size: large;
}

#metaDiv {    
    background-color: rgb(146, 154, 189);
}

.leaflet-canvas-layer {
    opacity: 0.55;
}

#wrapper {
    position: relative;    
}
/* #btn-spin {
    position: absolute;
    left: 200px;
    z-index: 10;
    font-size: 1.5em;      
  } */