body {
    margin: 0px;
}
p {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#heading {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #CCC;
}

#map {    
    position: relative;
    height: 600px;
    width: 700px;    
}

#worldmap {    
    position: relative;
    height: 600px;
    width: 1000px;    
}

.leaflet-tooltip {
    font-size: large;
}

#metaDiv {    
    background-color: rgb(146, 154, 189);
}

.leaflet-canvas-layer {
    opacity: 0.55;
}

#suggestions {
    position: relative;
    top: 10px; 
    bottom: 10px;
}

#suggestions div {
    width: 300px;
    background-color: rgb(255, 255, 255);
    padding: 5px 0;
    margin: 0 8px;
    border-bottom: 1px solid rgb(31, 28, 28);
    overflow: scroll;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.suggestion-bk:hover {
    opacity: 0.5;
  }